html {
    height: 100%;
    padding-top: 10%;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 30px;
  }
  
  html {
    background: rgb(2,0,36);
    background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
li {
    list-style: none;
}

fieldset {
    border: none
}
strong {
    font-size: 46px;
}

form {
    position: relative;
    padding-top: 30px;
}

form input[type="file"] {
    width: 200px;
    position: absolute;
    padding: 15px 20px;
    opacity: 0;
    cursor: pointer;
}

form input[type="text"] {
    width: 300px;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    outline: none;
}

button {
    padding: 15px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

ul li {
    font-size: 20px;
    font: Arial!important;
}

.none {
    display: none!important;
}
